<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete the following course?</h1>
    <p>Name: {{course_name}}</p>
    <p>Description: {{course_desc}}</p>
    <form action="delete" method="post">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>
    <form action="no" method="post">
        {% csrf_token %}
        <button type="submit">No</button>
    </form>
</body>
</html>