<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!-- linking a javascript file -->
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Welcome!</h1>
    <header>
    {% for x in range(0,number): %}
    <div style="background-color: {{colorch}}"></div>
    {% endfor %}
    
    
</header>
</body>
</html>