<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Add a New Show</h1>
{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
<form action="update" method="post">
    {% csrf_token %}
   Title: <input type="text" name="title1" value="{{show.title}}">
   Network: <input type="text" name="network" value="{{show.Network}}">
   Relase Date: <input type="date" name="date" value="{{show.release_Date}}">
   Description: <input type="text" name="desc" value="{{show.discription}}">
   <input type="submit" value="update">
</form>    
</body>
</html>