<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav">
        <h1 class="nav-title">Coding Dojo Wall</h1>
        <ul class="nav-links">
            <li><a href="#" class="active">Welcome </a></li>

            <li><button class="btn">log off</button></li>
        </ul>
    </div>
</body>
</html>